* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

body {
  line-height: 1.4;
  color: #474747;
  height: 100%;
  padding: 1.3rem 1.6rem 0 1.6rem;
  background: #bfbfbf;
  margin-left: auto;
}

.active {
  background-color: rgba(196, 201, 195, 0.397);
  border-radius: 10px;
  color: #bfbfbf;
}
